name: lendbook

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lendbook-app
    ports:
      - "${APP_HOST_PORT:-8080}:8080"
    depends_on:
      db:
          condition: service_healthy
          restart: true
    env_file:
      - .env
    environment:
      - PORT=8080
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=${DATABASE_NAME}
      - JWT_SECRET=${JWT_SECRET}
    restart: on-failure
  db:
    image: "postgres:16.11-alpine3.23"
    container_name: lendbook-db
    ports:
      - "${DB_HOST_PORT:-5432}:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}" ]
      interval: 2s
      timeout: 3s
      retries: 10
      start_period: 5s
    restart: unless-stopped
volumes:
  pg_data: